.Bdbc\(\#000\.12\) {
  border-bottom-color: rgba(0,0,0,.12);
}
.Bgc\(\#\#fafafa\), .Bgc\(\#fafafa\) {
  background-color: #fafafa;
}
.Bgc\(\#000\.12\)\:h:hover {
  background-color: rgba(0,0,0,.12);
}
.Bgc\(\#263238\) {
  background-color: #263238;
}
.Bgc\(\#795548\) {
  background-color: #795548;
}
.C\(\#000\.87\) {
  color: rgba(0,0,0,.87);
}
.C\(\#00897b\) {
  color: #00897b;
}
.C\(\#fff\) {
  color: #fff;
}
.Cur\(p\) {
  cursor: pointer;
}
.D\(f\) {
  display: flex;
}
.Flx\(1\) {
  flex: 1;
}
.Fw\(500\) {
  font-weight: 500;
}
.Fw\(b\) {
  font-weight: bold;
}
.Fw\(n\) {
  font-weight: normal;
}
.Fz\(\.8rem\) {
  font-size: .8rem;
}
.Fz\(\.9rem\) {
  font-size: .9rem;
}
.Fz\(1\.1rem\) {
  font-size: 1.1rem;
}
.Fz\(1\.2rem\) {
  font-size: 1.2rem;
}
.Fz\(1\.3rem\) {
  font-size: 1.3rem;
}
.H\(0\) {
  height: 0;
}
.H\(100\%\) {
  height: 100%;
}
.H\(100vh\) {
  height: 100vh;
}
.List\(n\) {
  list-style-type: none;
}
.M\(0\) {
  margin: 0;
}
.My\(10px\) {
  margin-top: 10px;
  margin-bottom: 10px;
}
.My\(1em\) {
  margin-top: 1em;
  margin-bottom: 1em;
}
.Mb\(-1px\) {
  margin-bottom: -1px;
}
.P\(0\) {
  padding: 0;
}
.P\(20px\) {
  padding: 20px;
}
.Px\(20px\) {
  padding-left: 20px;
  padding-right: 20px;
}
.Py\(10px\) {
  padding-top: 10px;
  padding-bottom: 10px;
}
.Py\(1em\) {
  padding-top: 1em;
  padding-bottom: 1em;
}
.Py\(20px\) {
  padding-top: 20px;
  padding-bottom: 20px;
}
.Py\(40px\) {
  padding-top: 40px;
  padding-bottom: 40px;
}
.Ta\(c\) {
  text-align: center;
}
.Td\(n\) {
  text-decoration: none;
}
.Trsdu\(\.3s\) {
  transition-duration: .3s;
}
.BdB {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-style: solid;
}
