.Bdbc\(\#000\.12\) {
  border-bottom-color: rgba(0,0,0,.12);
}
.Bgc\(\#000\.12\)\:h:hover {
  background-color: rgba(0,0,0,.12);
}
.Bgc\(\#263238\) {
  background-color: #263238;
}
.Bgz\(cv\) {
  background-size: cover;
}
.C\(\#000\.87\) {
  color: rgba(0,0,0,.87);
}
.C\(\#00897b\) {
  color: #00897b;
}
.C\(\#fff\) {
  color: #fff;
}
.Cur\(p\) {
  cursor: pointer;
}
.D\(b\) {
  display: block;
}
.D\(f\) {
  display: flex;
}
.Flx\(1\) {
  flex: 1;
}
.Fw\(500\) {
  font-weight: 500;
}
.Fw\(b\) {
  font-weight: bold;
}
.Fw\(n\) {
  font-weight: normal;
}
.Fz\(\.9rem\) {
  font-size: .9rem;
}
.Fz\(1\.2rem\) {
  font-size: 1.2rem;
}
.Fs\(i\) {
  font-style: italic;
}
.H\(0\) {
  height: 0;
}
.H\(100\%\) {
  height: 100%;
}
.H\(100vh\) {
  height: 100vh;
}
.H\(300px\) {
  height: 300px;
}
.List\(n\) {
  list-style-type: none;
}
.M\(0\) {
  margin: 0;
}
.My\(10px\) {
  margin-top: 10px;
  margin-bottom: 10px;
}
.Mb\(-1px\) {
  margin-bottom: -1px;
}
.Maw\(400px\) {
  max-width: 400px;
}
.Maw\(600px\) {
  max-width: 600px;
}
.P\(0\) {
  padding: 0;
}
.P\(20px\) {
  padding: 20px;
}
.Px\(20px\) {
  padding-left: 20px;
  padding-right: 20px;
}
.Py\(10px\) {
  padding-top: 10px;
  padding-bottom: 10px;
}
.Py\(1em\) {
  padding-top: 1em;
  padding-bottom: 1em;
}
.Ta\(c\) {
  text-align: center;
}
.Td\(n\) {
  text-decoration: none;
}
.Trsdu\(\.3s\) {
  transition-duration: .3s;
}
.W\(100\%\) {
  width: 100%;
}
.W\(400px\) {
  width: 400px;
}
.BdB {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-style: solid;
}
